table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.mat-column-actions {
  width: 120px;
  text-align: center;
}

button {
  pointer-events: auto;
}
